@tailwind base;
@tailwind components;
@tailwind utilities;


/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

@font-face {
  font-family: PoppinsRegular;
  src: url('/fonts/Poppins-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  /* font-family: PoppinsRegular; */
  font-family: Nunito, "PoppinsRegular", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.line-height-point-133 {
  line-height: 133%;
}

.line-height-point-119 {
  line-height: 119%;
}

.line-height-point-107 {
  line-height: 107%;
}

.line-height-point-111 {
  line-height: 111%;
}
.line-height-point-173 {
  line-height: 173%;
}
.line-height-point-99 {
  line-height: 99%;
}
.line-height-point-91 {
  line-height: 91%;
}
/* .line-height-num-33 {
  line-height: 33;
}
.line-height-num-24 {
  line-height: 24;
} */
.title-gradient {
  background: rgb(76, 42, 190);
  background: linear-gradient(90deg, rgba(76, 42, 190, 1) 0%, rgba(233, 33, 96, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ecosystem-gradient {
  background: rgb(233, 33, 96);
  background: linear-gradient(90deg, rgba(233, 33, 96, 1) 0%, rgba(129, 39, 158, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.button-gradient {
  background: rgb(76, 42, 190);
  background: linear-gradient(90deg, rgba(76, 42, 190, 1) 0%, rgba(233, 33, 96, 1) 100%);
}
.join-gradient {
  background: rgb(5,6,11);
  background: linear-gradient(180deg, rgba(5,6,11,1) 0%, rgba(76,42,190,1) 100%);
}

.gradient-border {
  background: linear-gradient(90deg, rgba(76, 42, 190, 1) 0%, rgba(233, 33, 96, 1) 100%);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0) border-box;
  mask-composite: exclude;
}

.gradient-border-round {
  background: linear-gradient(180deg, rgba(76, 42, 190, 1) 0%, rgba(233, 33, 96, 1) 100%);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0) border-box;
  mask-composite: exclude;
}
.gradient-border-round-reserve {
  background: linear-gradient(360deg, rgba(76, 42, 190, 1) 0%, rgba(233, 33, 96, 1) 100%);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0) border-box;
  mask-composite: exclude;
}
.gradient-footer {
  background: rgb(40,34,88);
background: linear-gradient(180deg, rgba(40,34,88,1) 0%, rgba(76,42,190,0) 100%);
}