@tailwind base;
@tailwind components;
@tailwind utilities;


/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

@font-face {
  font-family: PoppinsRegular;
  src: url('/fonts/Poppins-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  /* font-family: PoppinsRegular; */
  font-family: Nunito, "PoppinsRegular", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-size: cover;
}

img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

/* Rail - 滑动条的轨道部分 */
.rail {
  background-color: #4C2ABE;
  /* 滑动条的背景色 */
  height: 6px;
  /* 滑动条的高度 */
  border-radius: 100px;
  /* 滑动条的圆角 */
}

/* Track - 滑动条的实际轨迹部分 */
.track {
  background-color: #4C2ABE;
  /* 滑动条的颜色 */
  height: 6px;
  /* 滑动条的高度 */
  border-radius: 100px;
  /* 滑动条的圆角 */
}

/* Thumb - 滑块本身 */
.thumb {
  background-color: #29E5AD;
  /* 滑块的颜色 */
  border: 2px solid #ffffff;
  /* 滑块的边框颜色 */
  width: 20px;
  /* 滑块的宽度 */
  height: 20px;
  /* 滑块的高度 */
  border-radius: 50%;
  /* 滑块的圆角，使其成为圆形 */
  top: -6px;
}

/* Mark - 间隔点 */
.mark {
  background-color: #627EEA;
  /* 间隔点的颜色 */
  border-radius: 50%;
  /* 间隔点的圆角 */
  width: 10px;
  /* 间隔点的宽度 */
  height: 10px;
  /* 间隔点的高度 */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* Mark label - 可选的标记点标签 */
.mark-label {
  color: #627EEA;
  /* 标签颜色 */
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  margin-top: 4px;
}


.line-height-point-133 {
  line-height: 133%;
}

.line-height-point-119 {
  line-height: 119%;
}

.line-height-point-107 {
  line-height: 107%;
}

.line-height-point-111 {
  line-height: 111%;
}

.line-height-point-173 {
  line-height: 173%;
}

.line-height-point-193 {
  line-height: 193%;
}

.line-height-point-99 {
  line-height: 99%;
}

.line-height-point-91 {
  line-height: 91%;
}

.line-height-point-160 {
  line-height: 160%;
}

.line-height-point-156 {
  line-height: 156%;
}

.line-height-point-181 {
  line-height: 181%;
}

.line-height-point-180 {
  line-height: 180%;
}

.line-height-point-120 {
  line-height: 120%;
}

.line-height-point-217 {
  line-height: 217%;
}

.line-height-point-117 {
  line-height: 117%;
}

/* .line-height-num-33 {
  line-height: 33;
}
.line-height-num-24 {
  line-height: 24;
} */
.title-gradient {
  background: rgb(76, 42, 190);
  background: linear-gradient(90deg, rgba(76, 42, 190, 1) 0%, rgba(233, 33, 96, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ecosystem-gradient {
  background: rgb(233, 33, 96);
  background: linear-gradient(90deg, rgba(233, 33, 96, 1) 0%, rgba(129, 39, 158, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.private-card-text {
  background: rgb(41, 229, 173);
  background: linear-gradient(90deg, rgba(41, 229, 173, 1) 0%, rgba(255, 218, 105, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button-gradient {
  background: rgb(76, 42, 190);
  background: linear-gradient(90deg, rgba(76, 42, 190, 1) 0%, rgba(233, 33, 96, 1) 100%);
}

.join-gradient {
  background: rgb(5, 6, 11);
  background: linear-gradient(180deg, rgba(5, 6, 11, 1) 0%, rgba(76, 42, 190, 1) 100%);
}

.gradient-border {
  background: linear-gradient(90deg, rgba(76, 42, 190, 1) 0%, rgba(233, 33, 96, 1) 100%);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0) border-box;
  mask-composite: exclude;
}

.gradient-border-round {
  background: linear-gradient(180deg, rgba(76, 42, 190, 1) 0%, rgba(233, 33, 96, 1) 100%);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0) border-box;
  mask-composite: exclude;
}

.gradient-border-round-reserve {
  background: linear-gradient(360deg, rgba(76, 42, 190, 1) 0%, rgba(233, 33, 96, 1) 100%);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0) border-box;
  mask-composite: exclude;
}

.gradient-footer {
  background: rgb(40, 34, 88);
  background: linear-gradient(180deg, rgba(40, 34, 88, 1) 0%, rgba(76, 42, 190, 0) 100%);
}

.gradient-menu-item {
  background: rgb(76, 42, 190);
  background: linear-gradient(180deg, rgba(76, 42, 190, 1) 0%, rgba(35, 19, 88, 1) 100%);
}

.gradient-voting-banner {
  background: rgb(31, 28, 71);
  background: linear-gradient(180deg, rgba(31, 28, 71, 1) 0%, rgba(23, 19, 75, 1) 100%);
}

.voting-text-shadow {
  text-shadow: 4px 4px 4px black;
}

.voting-clicked-button {
  background: rgb(233, 33, 96);
  background: linear-gradient(153deg, rgba(233, 33, 96, 1) 0%, rgba(76, 42, 190, 1) 100%);
}

.ifo-card-gradient {
  background: rgb(12, 9, 51);
  background: linear-gradient(0deg, rgba(12, 9, 51, 1) 0%, rgba(36, 27, 153, 1) 100%);
}

.ifo-private-card-gradient {
  background: rgb(22, 79, 83);
  background: linear-gradient(180deg, rgba(22, 79, 83, 1) 0%, rgba(65, 121, 124, 1) 100%);
}

.trading-module-gradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

.trading-top-gradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(21, 17, 33, 1) 100%);
}

.trading-breakdown-module {
  background: rgb(22, 19, 24);
  background: linear-gradient(180deg, rgba(22, 19, 24, 1) 0%, rgba(33, 34, 54, 1) 100%);
}

.gradient-swap-module {
  background: rgb(13, 11, 37);
  background: linear-gradient(180deg, rgba(13, 11, 37, 0.5) 0%, rgba(22, 18, 75, 1) 100%);
}

.swap-popup-gradient {
  background: rgb(13, 11, 37);
  background: linear-gradient(180deg, rgba(13, 11, 37, 1) 0%, rgba(22, 18, 75, 1) 100%);
}

/* 
.adm-tabs-tab-active {
  color: #fff !important;
}

.adm-tabs-header {
  border-bottom: none !important;
}

.adm-tabs-header-mask-right,
.adm-tabs-header-mask-left {
  background: none !important;
}

.adm-tabs {
  --title-font-size: var(--adm-font-size-9);
  --content-padding: 12px;
  --active-line-height: 2px;
  --active-line-border-radius: var(--active-line-height);
  --active-line-color: #fff !important;
  --active-title-color: var(--adm-color-primary);
  position: relative;
  min-width: 0;
} */

.token-pair-card {
  background: rgb(39, 33, 114);
  background: linear-gradient(180deg, rgba(39, 33, 114, 1) 0%, rgba(50, 47, 94, 0) 100%);
}

.view-prices-in {
  background: rgb(50, 47, 94);
  background: linear-gradient(180deg, rgba(50, 47, 94, 0.5) 0%, rgba(50, 47, 94, 0) 100%);
}

.bridge-exchange-top {
  background: rgb(76, 42, 190);
  background: linear-gradient(180deg, rgba(76, 42, 190, 1) 0%, rgba(76, 42, 190, 0) 100%);
}

.bridge-exchange-bottom {
  background: rgb(76, 42, 190);
  background: linear-gradient(0deg, rgba(76, 42, 190, 1) 0%, rgba(76, 42, 190, 0) 100%);
}

.buy-crypto-gradient {
  background: rgb(22, 18, 75);
  background: linear-gradient(180deg, rgba(22, 18, 75, 0.5) 0%, rgba(22, 18, 75, 1) 100%);
}

.button-click {
  @apply transition ease-in duration-100 active:bg-opacity-90 active:translate-y-0-1
}