@font-face {
  font-family: "iconfont"; /* Project id 4582731 */
  src: url('//at.alicdn.com/t/c/font_4582731_z2qdjzh9ai.woff2?t=1718688202526') format('woff2'),
       url('//at.alicdn.com/t/c/font_4582731_z2qdjzh9ai.woff?t=1718688202526') format('woff'),
       url('//at.alicdn.com/t/c/font_4582731_z2qdjzh9ai.ttf?t=1718688202526') format('truetype'),
       url('//at.alicdn.com/t/c/font_4582731_z2qdjzh9ai.svg?t=1718688202526#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-right:before {
  content: "\e7f9";
}

.icon-reddit:before {
  content: "\ea3c";
}

.icon-telegram:before {
  content: "\e8db";
}

.icon-instagram:before {
  content: "\e87f";
}

.icon-discord:before {
  content: "\e88e";
}

.icon-tuitex:before {
  content: "\e600";
}

.icon-address:before {
  content: "\e601";
}

.icon-link:before {
  content: "\e7e2";
}

.icon-date:before {
  content: "\e61f";
}

.icon-menu:before {
  content: "\e613";
}
